@charset "utf-8";

/*
    #ffcfad
    #5e5a54
    #ffe4b8
    #e6d1b1
    #b8aa95
*/

html{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-image: url(imagens/man-g746926177_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
body{
    width: 55%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.438);
    position: relative;
    left: 48%;
    top: 50%;
    transform: translate(-50%,-50%);
}

body header{
    height: 100px;
    background-color: #0a4b75;
}
body header div.titulo{
    position: relative;
    float: left;
    font-family: sans-serif;
    top: 15px;
    left: 45px;
}
body header div.logo{
    position: relative;
    float: right;
    top: 25px;
    left: -45px;
}

body main{
    height: 82%;
}
body main div{
    position: relative;
    width: 309px;
    margin: auto;
    top: 10%;
}
body main div a{
    color: #5191c1;
    text-decoration: none;
    font-size: 40px;
}
body main div a:hover{
    color: #0a4b75;
}
body main aside{
    position: relative;
    margin: auto;
    top: 80px;
    height: 384px;
    width: 1025px;
    font-family: sans-serif;
    color: white;
    overflow-y: scroll; 
}
body main aside table th{
    background-color: #0a4b75;
    padding: 15px;
    margin: 0px;
}
body main aside table td{
    padding: 10px;
}
body main aside table a.editar{
    text-decoration: none;
    color: white;
    background-color: #5191c1; 
    border-radius: 5px;
    padding: 10px;
}
body main aside table a.editar:hover{
	background-color: #083d61;
}
body main aside table a.excluir{
    text-decoration: none;
    color: white;
    background-color: red; 
    border-radius: 5px;
    padding: 10px;
}
body main aside table a.excluir:hover{
	background-color: #bb0101;
}
.idcon{
    width: 21px;
}
.nome{
    width: 350px;
}
.fone{
    width: 110px;
}
.email{
    width: 225px;
}
.opcoes{
	width:126px;
	margin: 0px 0px 0px 0px;
}

body footer{
    position: relative;
    background-color: #5191c1;
}
body footer div p{
    position: relative;
    text-align: center;
    padding: 10px;
}
body footer div p a{
    color: black;
    text-decoration: none;
}
body footer div p a:hover{
    color: #0a4b75;
}